.addresses h3 {
    margin: .6em;
}
.address-list {
    list-style: none;
    padding-left: 0;
}
.address-list li {
    background: #FFF;
    margin: .6em;
    border-bottom: 1px solid var(--neutral);
}
.address-list li:last-child {
    border-bottom: none;
}

.address-card {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    min-width: 150px;
}

.address-card span {
    display: block;
}

.address-card .street-address {
    width: 80%;
}

.address-card .locality:after {
    content: ',';
}
