.friends-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0;
    padding: 0;
    margin: 0 0 1em;
    width: 100%;
}

.friends-list li {
    border-bottom: 1px solid var(--light);
}

.friends-list li.selected {
    background: var(--light);
}

.friends-list .select-friend {
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    inset: 0;
}

.friend-card {
    display: flex;
    flex-direction: row;
    padding: 1em .5em;
    gap: 1.2em;
    position: relative;
}

.friend-card .avatar {
    width: 120px;
    height: 120px;
    background: lightgray;
    border: var(--neutral);
    flex: 0 0 120px;
}

.friend-card .details {
    flex: 1 0 auto;
}

.friend-card .controls {
    display: flex;
    flex-direction: row;
    gap: 1em;
    position: relative;
    z-index: 10;
}

.friend-card h2 {
    color: var(--medium-dark);
}